# Reaction Time Analysis

In this experiment, we investigated whether there was a difference in subjects' reaction time between mentally different demanding conditions. For this, the participants were asked to press a certain computer key as soon as a stimulus was displayed on the computer screen: 

The mentally less demanding Stimulus showed a color change of the screen background, whereupon the subjects were asked to press the space bar.
The mentally demanding stimulus showed a random number between one and three, upon which the subjects were asked to press the respective number on the keyboard.
    
The study has a within-subjects design, i.e. the subjects received both parts of the experiment and the reaction time was measured for both stimuli. 
In order to collect enough data per participant without fatigue, ten repetitions per condition were performed.
Depending on the participant number, the experiment was started with stimulus one or stimulus two. This randomized order of the stimuli was intended to prevent a possible sequence or learning effect. 

Six subjects of different age and profession were tested.

In [11]:
# imports
import pandas as pd # data mangling
import matplotlib
from matplotlib import pyplot as plt
import numpy as np

## Import data and create a DataFrame with relevant data

In [4]:
df_reaction_time = pd.read_csv('logs.csv')

In [12]:
display (df_reaction_time)

,ID,condition,shown_stimulus,pressed_key,is_correct_key,reaction_time_in_ms,timestamp
0,1,simple,orange,Space,True,244,2021-05-01 09:21:38.767333
1,1,simple,orange,Space,True,271,2021-05-01 09:21:45.765831
2,1,simple,orange,Space,True,298,2021-05-01 09:21:50.392569
3,1,simple,orange,Space,True,240,2021-05-01 09:21:57.771664
4,1,simple,orange,Space,True,256,2021-05-01 09:22:02.467861
...,...,...,...,...,...,...,...
115,6,simple,orange,Space,True,542,2021-05-01 15:23:42.325476
116,6,simple,orange,Space,True,346,2021-05-01 15:23:49.331361
117,6,simple,orange,Space,True,382,2021-05-01 15:23:55.876172
118,6,simple,orange,Space,True,408,2021-05-01 15:24:01.879209
119,6,simple,orange,Space,True,343,2021-05-01 15:24:08.332482

In [10]:
# extract the relevant data for further processing
df_sample_rt = df_reaction_time[['ID', 'condition', 'is_correct_key', 'reaction_time_in_ms']]

df_sample_rt

     ID condition  is_correct_key  reaction_time_in_ms
0     1    simple            True                  244
1     1    simple            True                  271
2     1    simple            True                  298
3     1    simple            True                  240
4     1    simple            True                  256
..   ..       ...             ...                  ...
115   6    simple            True                  542
116   6    simple            True                  346
117   6    simple            True                  382
118   6    simple            True                  408
119   6    simple            True                  343

[120 rows x 4 columns]

## Scatterplots

In [ ]:
x_axis = df_sample_rt[]